body {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0;
    font-family: Arial, sans-serif; 
    background-color: #043a14;
}
.container {
    display: flex;
    align-items: center; 
}
body {
    font-size: 50px; 
    color: #ffffff; 
}